include ../layouts/_pm_header.jade
.container
    h4.pl-3.mt-sm-4.mb-4 Manage Offer
    nav
        #selectTab.nav.nav-tabs.mt-sm-4
            a#publishedTab.nav-item.nav-link.active(data-toggle='tab', href='#published') Project List
    #selectTabContent.tab-content
        #published.tab-pane.fade.show.active
            .row.mt-3.mb-md-5
                .col-3.mr-1
                    #publishedList.nav.flex-column.nav-pills
                        -if(projects){
                         
                         -for (var i=0;i<projects.length;i++){
                             
                            a.nav-link(id='project+#{i+1}', href='/get/offer?id=#{i}&title=#{projects[i].title}&projects=#{projects}') #{projects[i].title}
                         -}
                .col-sm-8.border.rounded.p-5.bg-light
                    #publishedContent.tab-content
                      table.table.table-hover
                            tbody
                                -if (offers.length==0){
                                .alert.alert-info
                                       strong No offers sent
                               -} else {
                                - for(var j=0;j<offers.length;j++){
                                tr
                                    td #{offers[j].name}
                                    td 
                                                -if (offers[j].isactive){
                                                P #[strong Status:] Pending
                                                -} else {
                                                -if (offers[j].isaccept){
                                                P #[strong Status:] Accepted by applicant
                                                -} else{
                                                P #[strong Status:] Declined by applicant
                                                -}
                                                -}
                                    td
                                        .btn-group.d-flex.justify-content-end
                                            button.btn.btn-sm.btn-outline-secondary(type='button', data-toggle='modal', data-target='#offerContent#{j}') View Content
                                            a.btn.btn-sm.btn-outline-info(href='mailto:username@mun.ca') Send Msg
                                            -}
                                            -}
- for(var j=0;j<offers.length;j++){
.modal.fade(tabindex='-1', id="offerContent#{j}")
    .modal-dialog
        .modal-content
            .modal-header
                -if (offers[j].isactive){
                P #[strong Status:] Pending
                -} else {
                -if (offers[j].isaccept){
                P #[strong Status:] Accepted by applicant
                -} else{
                P #[strong Status:] Declined by applicant
                -}
                -}

                h5.modal-title #{offers[j].name} &apos;s Offer
            .modal-body
                P #[strong Offer:] #{offers[j].content}
            .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close

-}
-}
include ../layouts/_footer.jade

// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.3.1.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
script(src='../../js/main-script.js')