include ../layouts/_pm_header.jade
.container
    h4.pl-3.mt-sm-4.mb-4 Manage Projects
    nav
        #selectTab.nav.nav-tabs.mt-sm-4
            a#publishedTab.nav-item.nav-link.active(data-toggle='tab', href='#published') Published Projects
            a#savedTab.nav-item.nav-link(data-toggle='tab', href='#saved') Saved Projects
    #selectTabContent.tab-content
        #published.tab-pane.fade.show.active
            .row.mt-3.mb-md-5
                .col-3.mr-1
                    #publishedList.nav.flex-column.nav-pills
                         
                         
                         -for (var i=0;i<projects.length;i++){
                             
                            a.nav-link(id='project+#{i+1}', href='/get/project?id=#{i}&title=#{projects[i].title}&projects=#{projects}') #{projects[i].title}
                         -}
                    a(href='/create-project')    
                      button.btn.btn-outline-success.btn-block.mt-4(type='button') Create project
                .col-sm-8.border.rounded.p-5.bg-light
                    #publishedContent.tab-content
                        
                      -var i=currentProject
                        .tab-pane.fade.show.active(id='#description#{i+1}') 
                            h3 #{projects[i].title} 
                            p.lead #{projects[i].department}
                            hr
                            h5.mt-4 Project Description
                            p #{projects[i].description}
                            h5.mt-4 Criteria
                            ul
                                each item in projects[i].interest
                                    li #{item}
                                each item in projects[i].skills
                                    li #{item}
                            h5.mt-4 Funds
                            p #{projects[i].funds}
                            #studentList.accordion.mt-4
                                .card
                                    #headingOne.card-header
                                        h5.mb-0
                                            button.btn.btn-link(type='button', data-toggle='collapse', data-target='#matchedStudents') Matched Students 
                                    #matchedStudents.collapse(data-parent='#studentList')
                                        .card-body.table-responsive
                                            table.table.table-hover
                                                tbody
                                                    - for(var j=0;j<matched.length;j++){
                                                    tr
                                                        td #{matched[j].firstName} #{matched[j].lastName}
                                                        td #{matched[j].education.degree}
                                                        td
                                                            .btn-group.d-flex.justify-content-end
<<<<<<< HEAD
                                                                button.btn.btn-sm.btn-outline-secondary(type='button', data-toggle='modal', data-target='#matchedProfile#{j}') View Profile
=======
                                                                button.btn.btn-sm.btn-outline-secondary(type='button', data-toggle='modal', data-target='#profile#{j}') View Profile
>>>>>>> 298ff1309dee0d079515d4e044caa2604a549dcd
                                                                a.btn.btn-sm.btn-outline-info(href='mailto:username@mun.ca') Send Msg
                                                        td
                                                            .btn-group.d-flex.justify-content-end
                                                                button.btn.btn-sm.btn-outline-success(type='button') Send Offer
                                                                -}
                                                    
                                .card
                                    #headingOne.card-header
                                        h5.mb-0
                                            button.btn.btn-link(type='button', data-toggle='collapse', data-target='#appliedStudents') Applied Students
                                    #appliedStudents.collapse(data-parent='#studentList')
                                        .card-body.table-responsive
                                            table.table.table-hover
                                                tbody
                                                    - for(var j=0;j<applied.length;j++){
                                                    tr
                                                        td #{applied[j].firstName} #{applied[j].lastName}
                                                        td #{applied[j].education.degree}
                                                        td
                                                            .btn-group.d-flex.justify-content-end
                                                                button.btn.btn-sm.btn-outline-secondary(type='button', data-toggle='modal', data-target='#appliedProfile#{j}') View Profile
                                                                a.btn.btn-sm.btn-outline-info(href='mailto:username@mun.ca') Send Msg
                                                        td
                                                            .btn-group.d-flex.justify-content-end
                                                                button.btn.btn-sm.btn-outline-danger(type='button') Reject
                                                                button.btn.btn-sm.btn-outline-success(type='button', data-toggle='modal', data-target='#editOffer#{j}') Approve
                                                        -}

                                .card
                                    #headingOne.card-header
                                        h5.mb-0
                                            button.btn.btn-link(type='button', data-toggle='collapse', data-target='#enrolledStudents') Enrolled Students
                                    #enrolledStudents.collapse(data-parent='#studentList')
                                        .card-body.table-responsive
                                            table.table.table-hover
                                                tbody
                                                    - for(var j=0;j<enrolled.length;j++){
                                                    tr
                                                        td #{enrolled[j].firstName} #{enrolled[j].lastName}
                                                        td #{enrolled[j].education.degree}
                                                        td
                                                            .btn-group.d-flex.justify-content-end
                                                                button.btn.btn-sm.btn-outline-secondary(type='button', data-toggle='modal', data-target='#enrolledProfile#{j}') View Profile
                                                                a.btn.btn-sm.btn-outline-info(href='mailto:username@mun.ca') Send Msg
                                                     -}
                            .btn-toolbar
                                button.btn.btn-outline-success.btn-lg.mr-4.mt-5(type='submit') Modify
                                a(href='/delete?title=#{projects[i].title}')
                                  button.btn.btn-outline-danger.btn-lg.mt-5(type='button') Delete
                         
                       
        #saved.tab-pane.fade
            .row.mt-3.mb-md-5
                .col-3.mr-1
                    #savedList.nav.flex-column.nav-pills
                        a#project5.nav-link.active(data-toggle='pill', href='#description5') Project 5
                        a#project6.nav-link(data-toggle='pill', href='#description6') Project 6
                        a#project7.nav-link(data-toggle='pill', href='#description7') Project 7
                        a#project8.nav-link(data-toggle='pill', href='#description8') Project 8
                    button.btn.btn-outline-success.btn-block.mt-4(type='button') Create project
                .col-sm-8.border.rounded.p-5.bg-light
                    #savedContent.tab-content
                        #description5.tab-pane.fade.show.active
                            h3 Project 5
                            p.lead Faculty of Computer Science
                            hr
                            h5.mt-4 Project Description
                            p
                            p
                            h5.mt-4 Cirteria
                            ul
                                li Java
                                li HTML
                                li Python
                            h5.mt-4 Funds
                            p $2,000 per semaster
                            .btn-toolbar
                                button.btn.btn-outline-success.btn-lg.mr-4.mt-4(type='button') Modify
                                button.btn.btn-outline-danger.btn-lg.mr-5.mt-4(type='button') Delete
                                button.btn.btn-primary.btn-lg.mt-4(type='submit') Publish
                        #description6.tab-pane.fade
                            h3 Project 6
                            p.lead Faculty of Computer Science
                            hr
                            h5.mt-4 Project Description
                            p
                            p
                            h5.mt-4 Cirteria
                            ul
                                li Java
                                li HTML
                                li Python
                            h5.mt-4 Funds
                            p $2,000 per semaster
                            .btn-toolbar
                                button.btn.btn-outline-success.btn-lg.mr-4.mt-4(type='button') Modify
                                button.btn.btn-outline-danger.btn-lg.mr-5.mt-4(type='button') Delete
                                button.btn.btn-primary.btn-lg.mt-4(type='submit') Publish
                        #description7.tab-pane.fade
                            h3 Project 7
                            p.lead Faculty of Computer Science
                            hr
                            h5.mt-4 Project Description
                            p
                            p
                            h5.mt-4 Cirteria
                            ul
                                li Java
                                li HTML
                                li Python
                            h5.mt-4 Funds
                            p $2,000 per semaster
                            .btn-toolbar
                                button.btn.btn-outline-success.btn-lg.mr-4.mt-4(type='button') Modify
                                button.btn.btn-outline-danger.btn-lg.mr-5.mt-4(type='button') Delete
                                button.btn.btn-primary.btn-lg.mt-4(type='submit') Publish
                        #description8.tab-pane.fade
                            h3 Project 8
                            p.lead Faculty of Computer Science
                            hr
                            h5.mt-4 Project Description
                            p
                            p
                            h5.mt-4 Cirteria
                            ul
                                li Java
                                li HTML
                                li Python
                            h5.mt-4 Funds
                            p $2,000 per semaster
                            .btn-toolbar
                                button.btn.btn-outline-success.btn-lg.mr-4.mt-4(type='button') Modify
                                button.btn.btn-outline-danger.btn-lg.mr-5.mt-4(type='button') Delete
                                button.btn.btn-primary.btn-lg.mt-4(type='submit') Publish
// Modal Conetent
- for(var j=0;j<matched.length;j++){
<<<<<<< HEAD
.modal.fade(tabindex='-1', id="matchedProfile#{j}")
    .modal-dialog
        .modal-content
            .modal-header
                h5.modal-title #{matched[j].firstName} #{matched[j].lastName} &apos;s Profile
            .modal-body
                P #[strong Education:] #{matched[j].education.degree} Degree, from #{matched[j].education.department}
                p #[strong Work Experience:] #{matched[j].experience}
                P #[strong Skills:] #{matched[j].skills}
                p #[strong Research interest:] #{matched[j].interest}
                P #[strong Funds needs:] #{matched[j].funds}
                P #[strong Start date:] #{new Date(matched[j].startDate).toDateString()}                  
            .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close
-}
- for(var j=0;j<applied.length;j++){
.modal.fade(tabindex='-1', id="appliedProfile#{j}")
    .modal-dialog
        .modal-content
            .modal-header
                h5.modal-title #{applied[j].firstName} #{applied[j].lastName} &apos;s Profile
            .modal-body
                P #[strong Education:] #{applied[j].education.degree} Degree, from #{applied[j].education.department}
                p #[strong Work Experience:] #{applied[j].experience}
                P #[strong Skills:] #{applied[j].skills}
                p #[strong Research interest:] #{applied[j].interest}
                P #[strong Funds needs:] #{applied[j].funds}
                P #[strong Start date:] #{new Date(applied[j].startDate).toDateString()}                  
            .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                .modal.fade(tabindex='-1', id="editOffer")
.modal.fade(tabindex='-1', id="editOffer#{j}")
    .modal-dialog
        .modal-content
            .modal-header
                h5.modal-title #{applied[j].firstName} #{applied[j].lastName} &apos;s Offer
            .modal-body
                P #[strong Project:] #{projects[i].title}
                label(for='offerContent')
                                span.text-muted (no longer than 1000 characters)
                            textarea#workExp.form-control(name='offerContent', rows='5')                
            .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Send
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close
-}
- for(var j=0;j<enrolled.length;j++){
.modal.fade(tabindex='-1', id="enrolledProfile#{j}")
    .modal-dialog
        .modal-content
            .modal-header
                h5.modal-title #{enrolled[j].firstName} #{enrolled[j].lastName} &apos;s Profile
            .modal-body
                P #[strong Education:] #{enrolled[j].education.degree} Degree, from #{enrolled[j].education.department}
                p #[strong Work Experience:] #{enrolled[j].experience}
                P #[strong Skills:] #{enrolled[j].skills}
                p #[strong Research interest:] #{enrolled[j].interest}
                P #[strong Funds needs:] #{enrolled[j].funds}
                P #[strong Start date:] #{new Date(enrolled[j].startDate).toDateString()}                  
            .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close
-}


=======
.modal.fade(tabindex='-1', id="profile#{j}")
    .modal-dialog
        .modal-content
            .modal-header
                h5.modal-title #{matched[j].firstName} #{matched[j].lastName} &apos;s Profile
            .modal-body
                P #[strong Education:] #{matched[j].education.degree} Degree, from #{matched[j].education.department}
                p #[strong Work Experience:] #{matched[j].experience}
                P #[strong Skills:] #{matched[j].skills}
                p #[strong Research interest:] #{matched[j].interest}
                P #[strong Funds needs:] #{matched[j].funds}
                P #[strong Start date:] #{new Date(matched[j].startDate).toDateString()}                  
            .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close
-}
>>>>>>> 298ff1309dee0d079515d4e044caa2604a549dcd
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.3.1.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
script(src='../../js/main-script.js')