include ../layouts/_student_header.jade
.container
    h4.pl-3.pl-3.mt-sm-4.mb-4 Matched Projects
    .row.mb-md-5
        .col-sm-3.mr-1
            #projectList.nav.flex-column.nav-pills
                 -for (var i=0;i<projects.length;i++){
                             
                    a.nav-link(id='project+#{i+1}', href='/get/matched-project?id=#{i}') #{projects[i].title}
                 -}
            a.btn.btn-outline-secondary.btn-block.mt-4(href='/matched-project') Go Back
        .col-sm-8.border.rounded.p-5.bg-light
            #projectContent.tab-content
               if message
                  include ../layouts/_message.jade 
                #description1.tab-pane.fade.show.active
                  -var i=currentProject
                        .tab-pane.fade.show.active(id='#description#{i+1}') 
                            h3 #{projects[i].title} 
                            p.lead #{projects[i].department}
                            hr
                            h5.mt-4 Project Description
                            p #{projects[i].desprition}
                            h5.mt-4 Criteria
                            ul
                                each item in projects[i].interest
                                    li #{item}
                                each item in projects[i].skills
                                    li #{item}
                            h5.mt-4 Funds
                            p #{projects[i].funds}
                    .btn-toolbar
                        a.btn.btn-outline-info.btn-lg.mr-5.mt-4(href='mailto:admin@gradrec.ca?subject=Project1') Contact Project Manager
                        a(href='/apply?title=#{projects[i].title}&id=#{i}')
                           -if(user.applied){
                              
                              button.btn.btn-primary.btn-lg.px-5.mt-4.disabled(type='button',value='Apply') Apply
                              -}
                            -else
                              button.btn.btn-primary.btn-lg.px-5.mt-4(type='button', value='Apply') Apply
               
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')